{% load static %}
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}">

<!-- body -->
<div class="container">
    <div class="row mt-3">
        <a style="border: black 2px solid;padding: 2px 12px 2px 12px;margin-right: 10px;border-radius: 10px;text-decoration: none;}" href="{% url 'crud:index' %}">
            <h2>User</h2>
        </a>
        <a style="border: black 2px solid;padding: 2px 12px 2px 12px;margin-right: 10px;border-radius: 10px;text-decoration: none;}" href="{% url 'crud:index_product' %}">
            <h2>Product</h2>
        </a>
    </div>
    <!-- form -->
    <div class="row mt-3">
        <div class="col-md-4">
            <h2>Tambah Product</h2>
            <form action="{% url 'crud:addproduct' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="product_name" placeholder="Product Name">
                </div>
                <button type="submit" name="btn_add" class="btn btn-primary">Add</button>
            </form>
        </div>
        <!-- table -->
        <div class="col-md-8 text-center">
            <h2 class="mb-3">Daftar Product</h2>
            {% if products %}
            <table class="table">
                <tr>
                    <th>No.</th>
                    <th>Product Name</th>
                </tr>
                <script>
                    let no = 1;
                </script>
                {% for product in products %}
                <tr>
                    <td><script>document.write(no);</script></td>
                    <td>{{ product.product_name }}</td>
                    <td>
                        <a href="{% url 'crud:deleteproduct' product.id %}">Hapus</a>
                        <a href="{% url 'crud:updateviewproduct' product.id %}">edit</a>
                    </td>
                </tr>
                <script>
                    no++;
                </script>
                {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>